<div id="header">
  <div class="column"><a href="/">Home</a>&nbsp;&nbsp;&nbsp;</div><div class="column"><a href="/Subgenres/Create">New Subgenre</a></div><div class="column"><a href="/Movies/Create">Add a Movie</a></div><div class="column"><a href="/Movies">All Movies</a></div><div class="column"><a href="/Subgenres">All Subgenres</a></div></div>
</div>