@{
  Layout = "_Layout";
}

@using FearGenerator.Models;
@model List<FearGenerator.Models.Subgenre>;

<div class="container">
<span>&nbsp;</span>
<section class=survival>
<h1 class="survival bleeding">Horror Subgenres</h1>

@if (Model.Count == 0)
{
  <h3>You have not added any subgenres, yet...</h3>
}

<ul>
  @foreach(Subgenre subgenre in Model)
  {
    <li>@Html.ActionLink($"{subgenre.Name}", "Details", new {id = subgenre.SubgenreId})
      <ul>
        <li>@subgenre.Description</li>
      </ul>
    </li>
  }
</ul>

<p>@Html.ActionLink("Add a subgenre", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</section>
</div>