@{
  Layout = "_Layout";
}

@using FearGenerator.Models
@model FearGenerator.Models.Movie

<div class="container">
<section class="survival">
<span>&nbsp;</span>
<h2 class="survival">Search for a Movie</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  <input type="submit" value="Search"/>
}
</section>
</div>

