<h1>Welcome to your DOOM!</h1>
<h2>A horrifying movie list to satisfy all your spooktacular viewing needs.</h2>

<h3>Would you like to add a horror subgenre?</h3>

<p>@Html.ActionLink("Add a Subgenre", "Create", "Subgenres")</p>
<p>@Html.ActionLink("See all Subgenres", "Index", "Subgenres")</p>
<p>@Html.ActionLink("See all Movies", "Index", "Movies")</p>