@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Eater&family=Nosifer&display=swap');

body {
  background-color:#000;
  color:#fff;
}

ul {
  list-style-type: none;
}

.container {
  padding: 3% 0 0 0;
}

h1 {
  font-family: 'Nosifer', cursive;
}

h2, h3, h4, h5 {
  font-family: 'Creepster', cursive;
}

a {
  color:#cc1212
}

a:hover {
  color:#8a0303;
  text-decoration:none;
}

:root {
  --duration: 2s;
  --color-blood: #8a0303;
  --color-blood-light: #cc1212;
  --color-light-steel: #595D61;
  --color-dark-steel: #292728;
}

body {
  background-color: #000;
  padding: 0px;
  margin: 0px;
  font-family: 'Eater', cursive;
}

.bottomOpts {
  padding: 50px 0 0 0;
}

.column2 {
  float:left;
  width:40%;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.column {
  float:right;
  width:15%;
}

/* Section */
section.survival {
  background-color: #000;
  position: relative;
  padding: 2rem 4rem;
  position: relative;
}

section.survival > * {
  color: var(--color-blood);
}
/* titles */

h1.survival.bleeding,
h2.survival.bleeding,
h3.survival.bleeding,
h4.survival.bleeding {
  --drop-width: 1rem;
  color: var(--color-blood);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
  position: relative;
  color: var(--color-blood-light);
  padding: 0;
  margin: calc(var(--drop-width) * 2) 0;
}

h2.survival.bleeding {
  --drop-width: 0.7rem;
  font-size: 1.7rem;
  letter-spacing: 1px;
  line-height: 1.9rem;
}

h3.survival.bleeding {
  --drop-width: 0.4rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

h4.survival.bleeding {
  --drop-width: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.2rem;
}

h1.survival.bleeding:after,
h2.survival.bleeding:after,
h3.survival.bleeding:after,
h4.survival.bleeding:after {
  content: " ";
  top: calc(100% - 0.2rem);
  left: 0px;
  position: absolute;
  width: var(--drop-width);
  height: calc(var(--drop-width) * 2);
  background-color: var(--color-blood-light);
  border-bottom-left-radius: calc(var(--drop-width) / 2);
  border-bottom-right-radius: calc(var(--drop-width) / 2);
  clip-path: polygon(100% 60%, 100% 100%, 0% 100%, 0% 60%, 50% 0%);
  transform: scale(0);
  animation-name: bleeding;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bleeding {
  0% {
    top: calc(100% - 1rem);
    transform: scale(0);
  }
  50% {
    top: calc(100% - 0.2rem);
    transform: scale(1);
  }

  100% {
    top: calc(100% + (var(--drop-width) * 2));
    transform: scale(1);
  }
}

h1.survival.bleeding ~ *:nth-child(2):not(.survival),
h2.survival.bleeding ~ *:nth-child(2):not(.survival),
h3.survival.bleeding ~ *:nth-child(2):not(.survival),
h4.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 1rem;
  --drop-form: ellipse;
  background: -webkit-radial-gradient(#fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: bloodsoaking;
  animation-duration: calc(var(--duration) * 20);
  animation-delay: calc(var(--duration) * 0.5);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}

h2.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 0.7rem;
}

h3.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 0.4rem;
}

h4.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 0.2rem;
}

@media only screen and (max-width: 600px) {
  h1.survival.bleeding ~ *:nth-child(2):not(.survival),
  h2.survival.bleeding ~ *:nth-child(2):not(.survival),
  h3.survival.bleeding ~ *:nth-child(2):not(.survival),
  h4.survival.bleeding ~ *:nth-child(2):not(.survival) {
    --drop-form: circle;
  }
}

@keyframes bloodsoaking {
  0% {
    background: -webkit-radial-gradient(#fff 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  5% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 0%,#fff 5%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 5%,#fff 10%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  15% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 10%,#fff 15%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 15%,#fff 20%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 20%,#fff 25%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 25%,#fff 30%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  35% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 30%,#fff 35%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 35%,#fff 40%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  45% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 40%,#fff 45%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 45%, #fff 50%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  55% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 50%, #fff 55%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 55%, #fff 60%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  65% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 60%, #fff 65%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 65%, #fff 70%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 70%, #fff 75%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 75%, #fff 80%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 80%, #fff 85%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 85%, #fff 90%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  95% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-blood) 0%, var(--color-blood) 90%, #fff 95%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: radial-gradient(var(--drop-form) at 0% 50%, var(--color-blood) 0%, var(--color-blood) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}